.selected {
    background-color: #357c37;
}
.target {
    background-color: #1b3b1b;
}
.background-0 {
    background-color: #9d9d9d;
}
.background-1 {
    background-color: #464646;
}
.color-0 {
    color: #000000;
}
.color-1 {
    color: #fcfcfc;
}
.color-2 {
    color: transparent;
}
table {
    border-collapse: collapse;
}
td {
    font-size: larger;
    border: 1px solid #464646;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}