<!DOCTYPE html>
<html lang="">
<head>
    <title>Game</title>
    <link rel="stylesheet" href="../views/game.css">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"
            integrity="sha512-Xm9qbB6Pu06k3PUwPj785dyTl6oHxgsv9nHp7ej7nCpAqGZT3OZpsELuCYX05DdonFpTlBpXMOxjavIAIUwr0w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" defer src="../game/listeners.js"></script>
    <h1>Game Board</h1>
    <h3 id="activePlayer">
        <!-- [color] turn! -->
    </h3>
    <h4 id="p_white">
        <!-- white player name -->
    </h4>
    <h4 id="p_black">
        <!-- black player name -->
    </h4>
    <table id="board">
        <!-- The game board will be generated dynamically here -->
    </table>
</body>
</html>
