<!DOCTYPE html>
<html lang="">
<head>
    <title>Game</title>
    <link rel="stylesheet" href="../views/game.css">
</head>
<body>
    <script type="module" src="../game.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"
            integrity="sha512-Xm9qbB6Pu06k3PUwPj785dyTl6oHxgsv9nHp7ej7nCpAqGZT3OZpsELuCYX05DdonFpTlBpXMOxjavIAIUwr0w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <h1>Game Board</h1>
    <table id="board">
        <!-- The game board will be generated dynamically here -->
    </table>

</body>
</html>
